html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Anton;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

p,
li {
  font-family: Roboto;
  margin: 0;
  text-align: left;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
